<script type="text/template" id="root-view-template">
    <div class="container col-xs-8 col-xs-offset-2" id="root"></div>
</script>

<script type="text/template" id="schools-table-template">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</script>

<script type="text/template" id="school-table-row-template">
    <td><%- id %></td>
    <td><%- name %></td>
    <td><%- address %></td>
</script>
