<script type="text/template" id="root-view-template">
    <div class="container col-xs-8 col-xs-offset-2" id="root"></div>
</script>

<script type="text/template" id="schools-table-template">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</script>

<script type="text/template" id="school-table-row-template">
    <td><a href="#schools/<%- id %>"><%- id %></td>
    <td><%- name %></td>
    <td><%- address %></td>
    <td><button class="btn btn-sm btn-danger delete-item">Delete</button></td>
</script>

<script type="text/template" id="school-form-template">
    <div class="col-xs-4 col-xs-offset-1">
        <input class="form-control" name="name" type="text" placeholder="Name" value="<%- name %>" />
    </div>
    <div class="col-xs-4">
        <input class="form-control" name="address" type="text" placeholder="Address" value="<%- address %>" />
    </div>
    <input class="btn btn-md btn-primary" type="submit" value="Save" />
</script>

<script type="text/template" id="schools-template">
    <table></table>
    <form></form>
</script>
